/*Cards grid layout*/
.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.first-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
  font-size: 34px;
  line-height: 1.3;
}

.first-entry .entry-content {
  margin: 14px 0;
  font-size: 16px;
  -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
  font-size: 14px;
}

.home-info .entry-content {
  -webkit-line-clamp: unset;
}

.post-entry {
  position: relative;
  /* Remove extra space between top and bottom cards*/
  /* margin-bottom: var(--gap); */
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  border: 1px solid var(--border);
}

.post-entry:active {
  transform: scale(0.96);
}

.tag-entry .entry-cover {
  display: none;
}

.entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
}

/* Add formatting to extra content */
.entry-content, .entry-content-extra{
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  /* Don't truncate words to a max height */
  /* overflow: hidden; */
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.entry-content ul {
  padding: var(--gap);
}

/* Extra formatting to extra content */
.entry-content-extra {
  font-style: italic;
}

.entry-footer {
  color: var(--secondary);
  font-size: 13px;
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.entry-cover,
.entry-isdraft {
  font-size: 14px;
  color: var(--secondary);
}

.entry-cover {
  margin-bottom: var(--gap);
  text-align: center;
}

.entry-cover img {
  border-radius: var(--radius);
  pointer-events: none;
  /* center image */
  margin: auto;
  /* Set max height for image */
  height: 100px;
  width: auto;
}

.entry-cover a {
  color: var(--secondary);
  box-shadow: 0 1px 0 var(--primary);
}
